<!doctype html>
<html>
	<head> 
		<title> Express.js Example </title>
		<link rel="stylesheet" href="/css/bootstrap.css" media="screen" charset="utf-8">
		<meta charset="utf-8">
	</head>
	<body>
	<header> <img src="/img/logo.png" alt="No Logo" /> </header>
	<center>	
		<a href="/" >Home </a>&nbsp;&nbsp;
		<a href="/about">About Us </a>
	</center>	
		<div  class="container">
				{{{body}}}
		</div>
	<script src="/js/jquery-1.12.3.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	</body>
</html>