<!doctype html>
<html>
	<head> 
		<title> Express.js Example </title>
	</head>
	<body>
	<header> <img src="/img/logo.png" alt="No Logo" /> </header>
	<center>	
		<a href="/" >Home </a>&nbsp;&nbsp;
		<a href="/about">About Us </a>
	</center>	
		{{{body}}}
	</body>
</html>