<?doctype html>
<html>
	<head>
	</head>
	
	<body>
		<center>
			<br><br>
			<h1> To assign task to Employee / Person </h1>
			<h4>Today is <i> <u>{{emp}}'s </u></i> turn to watch a movie <br><br> to see who is next in line to watch movie <br><br>Please Refresh the page.  </h4>
		</center>
	</body>
</html>